<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background and Workflow<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="background.html">Background</a>
      </li>
      <li>
        <a href="examples.html">Real World examples</a>
	  <!--/li-->
		<!--ul>
		  <li><a href="examples.html#introduction" id="markdown-toc-introduction">Introduction</a></li>
		  
		  <li><a href="examples.html#use-case-16-non-serious-adverse-event-research-study-medication" id="markdown-toc-use-case-16-non-serious-adverse-event-research-study-medication">Non-Serious Adverse Event Research Study Medication</a></li>
		  <li><a href="examples.html#use-case-17-non-serious-adverse-event-related-to-study-procedure-not-study-drug" id="markdown-toc-use-case-17-non-serious-adverse-event-related-to-study-procedure-not-study-drug">Non-Serious Adverse Event Related to Study Procedure (not study drug)</a></li>
		  <li><a href="exampleCancerClinicalTrial.html">Cancer Clinical Trial Example</a></li>
		</ul-->
      </li>
    </ul>
  </li>

  <!--li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="spec.html">Detailed Specifications</a>
      </li>
    </ul>
  </li-->
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li><a href="security.html">Security Note</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
      <li>
        <a href="downloads.html">Downloads</a>
      </li>
	  <li>
        <a href="changes.html">Change log</a>
      </li>
    </ul>
  </li>
  <!--li><a href="conformance.html">Conformance Statement</a></li-->
</ul>      
